<a href="https://colab.research.google.com/github/jerge/AdventOfCode/blob/master/2022/aoc11-unfin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
example = '''Monkey 0:
  Starting items: 79, 98
  Operation: new = old * 19
  Test: divisible by 23
    If true: throw to monkey 2
    If false: throw to monkey 3

Monkey 1:
  Starting items: 54, 65, 75, 74
  Operation: new = old + 6
  Test: divisible by 19
    If true: throw to monkey 2
    If false: throw to monkey 0

Monkey 2:
  Starting items: 79, 60, 97
  Operation: new = old * old
  Test: divisible by 13
    If true: throw to monkey 1
    If false: throw to monkey 3

Monkey 3:
  Starting items: 74
  Operation: new = old + 3
  Test: divisible by 17
    If true: throw to monkey 0
    If false: throw to monkey 1'''
data = '''Monkey 0:
  Starting items: 84, 72, 58, 51
  Operation: new = old * 3
  Test: divisible by 13
    If true: throw to monkey 1
    If false: throw to monkey 7

Monkey 1:
  Starting items: 88, 58, 58
  Operation: new = old + 8
  Test: divisible by 2
    If true: throw to monkey 7
    If false: throw to monkey 5

Monkey 2:
  Starting items: 93, 82, 71, 77, 83, 53, 71, 89
  Operation: new = old * old
  Test: divisible by 7
    If true: throw to monkey 3
    If false: throw to monkey 4

Monkey 3:
  Starting items: 81, 68, 65, 81, 73, 77, 96
  Operation: new = old + 2
  Test: divisible by 17
    If true: throw to monkey 4
    If false: throw to monkey 6

Monkey 4:
  Starting items: 75, 80, 50, 73, 88
  Operation: new = old + 3
  Test: divisible by 5
    If true: throw to monkey 6
    If false: throw to monkey 0

Monkey 5:
  Starting items: 59, 72, 99, 87, 91, 81
  Operation: new = old * 17
  Test: divisible by 11
    If true: throw to monkey 2
    If false: throw to monkey 3

Monkey 6:
  Starting items: 86, 69
  Operation: new = old + 6
  Test: divisible by 3
    # If true: throw to monkey 1
    If false: throw to monkey 0

Monkey 7:
  Starting items: 91
  Operation: new = old + 1
  Test: divisible by 19
    If true: throw to monkey 2
    If false: throw to monkey 5'''

In [31]:

class Monkey:
    items = []
    operation = None
    test = 0
    truethrow  = -1
    falsethrow  = -1
    inspections = 0
    def __init__(self,inp):
        ss = inp.split("\n")
        self.items = [int(item) for item in ss[1][len(" Starting items: "):].split(", ")]
        temp = ss[2][len("  Operation: new = old "):]
        ops = {
            '+' : lambda x, y: x + y,
            '-' : lambda x, y: x - y,
            '*' : lambda x, y: x * y
        }
        op = temp[0]
        operand = temp[1:]
        if "old" in operand:
            self.operation = lambda x : ops[op](x,x)
        else:
            operand = int(operand)
            self.operation = lambda x : ops[op](x,operand)
        self.test = int(ss[3][len("  Test: divisible by "):])
        self.truethrow = int(ss[4][len("    If true: throw to monkey "):])
        self.falsethrow = int(ss[5][len("    If false: throw to monkey "):])
    
    def inc_inspections(self):
        self.inspections += 1

In [48]:
2080%13

0

In [46]:
print(monkeys[2].test)

13

In [51]:
monkeys = [Monkey(line) for line in example.split("\n\n")]
for i in range(20):
    print(f"--Round {i+1}--")
    for m in monkeys:
        # print(m.items)
        while m.items:
            # Inspect
            it = m.items.pop(0)
            m.inc_inspections()
            # Operation
            it = m.operation(it)
            
            # //3
            it = it // 3
            # Test worry
            # print(it % m.test)
            worried = it % m.test == 0
            # Throw
            
            if worried:
                # print(f"t {it} -> {m.truethrow}")
                monkeys[m.truethrow].items.append(it)
            else:
                # print(f"f {it} -> {m.falsethrow}")
                monkeys[m.falsethrow].items.append(it)
        # print(m.inspections)
    # for m in monkeys:
    #     print(m.items)
insps = [m.inspections for m in monkeys]

--Round 1--
--Round 2--
--Round 3--
--Round 4--
--Round 5--
--Round 6--
--Round 7--
--Round 8--
--Round 9--
--Round 10--
--Round 11--
--Round 12--
--Round 13--
--Round 14--
--Round 15--
--Round 16--
--Round 17--
--Round 18--
--Round 19--
--Round 20--
[101, 95, 7, 105]

3